p(class='pull-right', style='font-size:small;')
	strong Note: 
	| sort table by clicking on a column header, hold "shift" to select multiple columns

table.table.tablesorter#resourcesTable
	thead
		tr
			th User 
			th Status 
			th Time 
			th Campaign 
			th Group 
			th Calls 
			th Contact 
			th Transfer 
			th Success
			th Actions 
	tbody
