extends layout

block content
	.row.full-height
		.col-lg-2#stats
			aside
				p.text-muted.text-small Dropped %
				.row
					.col-lg-6.text-right
						.text-large.text-bold
							span(data-stat="dropped_pct")
							span %
					.col-lg-6.text-left
						span(data-stat="dropped_running_tally")
						span(data-stat="dropped_delta")
				p
					span.text-danger Dropped - 
						span(data-stat="dropped")
					br
					span.text-success Answered - 
						span(data-stat="answered")
			aside
				p.text-muted.text-small Calls Today
				span.stat.text-highlight.text-large.text-bold(data-stat="calls_today")
			aside
				p.text-muted.text-small Agent Average Wait
				span.stat.text-highlight.text-large.text-bold(data-stat="agent_avg_wait")
			aside
				p.text-muted.text-small Average Talk Time
				span.stat.text-highlight.text-large.text-bold(data-stat="average_talk_time")
			aside
				p.text-muted.text-small Average Wrap
				span.stat.text-highlight.text-large.text-bold(data-stat="average_wrap")
			aside
				p.text-muted.text-small Average Pause
				span.stat.text-highlight.text-large.text-bold(data-stat="average_pause")
			//- aside
			//- 	p.text-muted.text-small Average Agents
			//- 	span.stat.text-highlight.text-large.text-bold(data-stat="average_agents")
			aside
				p.text-muted.text-small Dialable Leads
				span.stat.text-highlight.text-large.text-bold(data-stat="dialable_leads")
			//- aside
			//- 	p.text-muted.text-small Dial Method
			//- 	span.stat.text-highlight.text-bold.text-capital(data-stat="dial_method")
		.col-lg-10#content
	
			.row.text-center
				.col-lg-2.double-row
					small Agents Waiting
					h1(data-stat="agents_waiting")
				.col-lg-10
					.row
						.col-lg-3
							medium Agents Logged In
							h1(data-stat="agents_logged_in")

							hr

							small Paused Agents
							h1(data-stat="paused_agents")
						.col-lg-3
							medium Agents In Calls
							h1(data-stat="agents_in_calls")

							hr

							medium Calls Ringing
							h1(data-stat="calls_ringing")
						.col-lg-3
							small Current Active Calls
							h1(data-stat="current_active_calls")

							hr

							medium Calls Waiting for Agents
							h1(data-stat="calls_waiting_for_agents")
						.col-lg-3
							medium Agents in Dead Calls
							h1(data-stat="agents_in_dead_calls")

							hr

							medium Agents in Dispo
							h1(data-stat="agents_in_dispo")

			hr

			h2 Calls Waiting

			table.table.table-striped.table-hover#callsTable
				thead
					tr
						th(class='{sorter: false}', style='cursor:default;') Campaign
						th(class='{sorter: false}', style='cursor:default;') Phone
						th(style='cursor:default;') On Hold Time 
						th(class='{sorter: false}', style='cursor:default;') Call Type
						th(class='{sorter: false}', style='cursor:default;') Priority
				tbody

			hr

			h2(style='margin-bottom:5px;') Active Resources
			a(href='/resources',target='_blank', style='margin-bottom:25px;') Open in new tab
			
			include _resources-table

